body
{
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 auto;
}
.titulos
{
    text-align: center;
    font-family: 'Megrim', cursive;
}
#final
{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.textos
{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
#login
{
    padding: 10px;
    width: 20%;
    margin: 0 auto;
    background-color: #f1eade;
    border-radius: 5px;
}
.registro
{
    padding: 35px;
    width: 35%;
    margin: 0 auto;
    background-color: #f1eade;
    border-radius: 5px;
}
.caja {
    margin:10px auto 20px auto;	
    border:1px solid #d9d9d9;
    height:40px;
    width: 230px;
    position:relative;
    border-radius: 5px;
 }
 select {
    border: none;
    height: 40px;
    padding: 5px;
    width: 465px;
 }
.botonright
{
    float: right;
}
.botonleft
{
    float: left;

}
.progressbar
{
    margin:10px auto 20px auto;	
    border:1px solid #d9d9d9;
    width: 465px;
    position:relative;
    border-radius: 5px;
}